head {
    text-align: center;
    position: relative;
  }

   head::before,
  head::after {
    
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px; 
    margin: 0 10px;
  }

  head::before {
    left: 0;
  }

  head::after {
    right: 0;
  } 
  .bodies {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-image: url('../../assets/Speakers/background.jpeg');
    background-size: cover;
    
  }

  header {
    text-align: center;
    padding: 30px 0;
  }


  .carda-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
  }

  .carda {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 250px;

  }

  .carda img {
    width: 100%;
    border-radius: 50%;
  }

  .carda h2 {
  
    margin-top: 5px;
    font-size: 1.5em;
    color: #e74500;
  }

  .carda p {
    margin-top: 5px;
  }

  .carda a {
    display: block;
    margin-top: 10px;
    color: #0077B5;
    text-decoration: none;
  }
  .carda:hover {
    background-color: #333333; /* Change to a darker color on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly elevate the card on hover */
  }
  
  .carda:hover h2 {
    color: #ff9900; /* Change the title color on hover */
  }
  
  .carda:hover a {
    color: #005599; /* Change the link color on hover */
  }

  
  header {
    padding: 30px 0;
  }